/**
 * CSS file that is loaded on all pages.
 */
a {
  border: none !important;
}


/** FInd My Style Page **/
.selection-photo {
  margin-right: 5px;
  margin-bottom: 5px;
}
.selection-photo-modal {
  max-height: 100%;
  max-width: 90%;
  height: 100%;
}
.selection-photo-modal img.modal {
  max-height: 100%;
}
