<div class="selection-photo-modal">
    {{ image_link }}
  <div class="image-body">
    <div id="modal-like-action-{{ image_nid }}" class="like-wrapper">
      {{ like_link }}
    </div>
  </div>
</div>
